*/ {@import url("https://fonts.googleapis.com/css?family=Roboto");} */

* {box-sizing: border-box;
    padding: 0;
    margin: 0;
}

textarea {
  font-family: sans-serif;
  font-size: 100%;
  box-sizing: border-box;
  padding: 10;
  margin: 10;
}



p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  }

textarea {
  overflow: auto;
}

body {
    background-color: rgb(131, 12, 243);    
    color: rgb(238, 225, 249);
    font-family:  sans-serif;
    font-weight: 300; /* Light */;
    font-size: 16px; line-height: 1.5;
}

a {
    color: rgb(238, 225, 249);    
}

img {
    max-width: 75%;
}  

address {
    font-style: normal;
}

.form-input {
 border: 2px solid rgb(238, 225, 249);
 font-size: 16px;
 font-weight: 400;
 padding: 1em;
 margin-bottom: 1.5em;
 width: 100%;
}

[type= "submit"] {
    background: rgb(131, 12, 243);
    color: rgb(238, 225, 249);
    width: 100%;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: .5em;
    cursor: pointer;
}

[type="submit"]:hover
[type="submit"]:focus {
    background:  rgb(131, 12, 243);
}

textarea {
    height: 150px;
    resize: vertical;
}